.app {

}

.title {
  font-weight: 400;
  font-size: 20px;
  color: #222;
  margin-top: 0;
  margin-bottom: 5px;
}

.button {
  background-color: #d8d8d8;
  color: #9a9a9a;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: none;

}

.textfield {
  font-size: 14px;
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: #c5c5c5;
}

.messageContent {
  padding: 5px;
  background-color: #86BB71;
  color: white;
  border-radius: 7px;
  font-size: 12px;
  margin-bottom: 6px;
  line-height: 18px;
}

.messageHeader {
  font-size: 12px;
  text-align: right;
  margin-bottom: 3px;
}

.messageAuthor {
  color: #ccc;
}

.messageDate {
  color: #a8aab1;
  padding-left: 8px;
}

@mixin clearfix {
  overflow: auto;
}

.event {
  @include clearfix;
  background-color: #fff;
  color: #888;
  margin-bottom: 12px;
}

.eventDate {
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  width: 116px;
  color: rgb(148, 194, 237);
  line-height: 32px;
  font-size: 12px;
}
